/* Основні кольори
акцент #2196F3
лого #000000
текст заголовків #212121
текст #757575
фон секції #F5F4FA
футер #2F303A
текст, кнопка і лого у футері  #FFFFFF
контакти у футері rgba(255, 255, 255, 0.6);
*/

:root{
--accent-color: #2196F3;
--primary-text-color: #757575;
--title-text-color: #212121;
--logo-color: #000000;
--second-text-color: #FFFFFF;
--second-background-color: #F5F4FA;
--primary-background-color: #2F303A
}

body{
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}



/* Прибирає крапки */
.list{
    list-style: none;
}



/* Лого */
.logo{
    color: var(--logo-colo);
}

.logo-accent{
    color: var(--accent-color);
}



/* Навігація */
.site-nav-links{
    color: var(--title-text-color);
}

.site-nav-links:hover, .site-nav-links:focus{
    color: var(--accent-color);
}

.contacts{
    color: var(--primary-text-color);
}

.contacts:hover, .contacts:focus {
    color: var(--accent-color);
}



/* Герой */
.hero-title{
    color: var(--second-text-color);
    background-color: var(--primary-background-color);
}

.hero-button{
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.titles{
    color: var(--title-text-color);
}



/* Особливості */
.title{
    display:none;
}



/* Команда */
.team{
    background-color: var(--second-background-color);
}

.team-card{
background-color: #FFFFFF;
}



/* Підвал */
.footer{
    background-color: var(--primary-background-color);
}

.footer-logo{
    color: var(--second-text-color);
}

.footer-affress{
    color: var(--second-text-color);
}

.footer-contacts{
    color: rgba(255, 255, 255, 0.6);
}