/* Основні кольори
акцент #2196F3
лого #000000
текст заголовків #212121
текст #757575
фон секції #F5F4FA
футер #2F303A
текст, кнопка і лого у футері  #FFFFFF
контакти у футері rgba(255, 255, 255, 0.6);
*/

:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-color: #000000;
  --second-text-color: #ffffff;
  --second-background-color: #2f303a;
  --accent-background-color: #f5f4fa;
  --primary-background-color: #ffffff;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
 letter-spacing: 0.03em;
}

/* Прибирає крапки */
.list {
  list-style: none;
}

/* Лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Навігація */
.site-nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.site-nav-links:hover,
.site-nav-links:focus {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
   background-color: var(--second-background-color);   
}


.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

  color: var(--second-text-color);
}

.hero-button  {
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--second-text-color);
  background-color: var(--accent-color);

  border: 0;
}

.works-title, .team-title, .features-title, .team-members {
  color: var(--title-text-color);
}

/* Особливості */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text{
    font-size: 14px;
    line-height: 1.71;  
}



/* Команда */
.team {
  background-color: var(--accent-background-color);
}


.team-title,
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-members{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
    text-align: center;
}

.team-text{
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}


.team-card {
  background-color: var(--primary-background-color);
}

/* Підвал */
.footer {
  background-color: var(--second-background-color);
}

.footer-logo {
  color: var(--second-text-color);
}

.footer-address {
  color: var(--second-text-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

.footer-address, .footer-contacts{
    font-size: 14px;
    line-height: 1.71;
}



/* ПОРТФОЛІО */
.buttons{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

    color: var(--title-text-color);
    background-color: var(--accent-background-color);

    cursor: pointer;
    
    border: 0;
}

.buttons:hover, .buttons:focus {
color: var(--second-text-color);
background-color: var(--accent-color);
}

.project-title {
  font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}

.project-text {
  font-size: 16px;
    line-height: 30px;

    color: var(--primary-text-color);
}